<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="places">
      <ion-icon name="Search-outline"></ion-icon>
      <ion-label>Mis Anuncios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
