<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

  <div style="width: 100%; height: 100%;padding: 30px; padding-top: 0px;">
    <div>
      <h3>Espacio de Renta</h3>
      <p>¿Qué desea poner en renta?</p>
      <form [formGroup]="newPlace.controls.espacio">
        <ion-item>
          <ion-label position="stacked">Tipo</ion-label>
          <br>
          <ion-select placeholder="Seleccione la ciudad" formControlName="id_tipo_espacio" interface="popover">
            <ion-select-option *ngFor="let e of espacios" value={{e.id}}>{{e.tipo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <p>¿Cuántas personas pueden alojarse?</p>
        <ion-item>
          <ion-label position="stacked">Cantidad</ion-label>
          <br>
          <ion-input type="number" placeholder="Num. personas" formControlName="cantidad_personas"></ion-input>
        </ion-item>
        <p>¿Cual es la tarifa mensual de renta?</p>
        <ion-item>
          <ion-label position="stacked">Renta por mes</ion-label>
          <br>
          <ion-input type="number" placeholder="Num. personas" formControlName="precio_renta"></ion-input>
        </ion-item>

        <p>¿Cual es la fecha de disponibilidad?</p>
        <ion-item [hidden]=isHidden>
          <ion-label position="stacked">Fecha de Disponibilidad</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" formControlName="fecha_disponibilidad"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-checkbox color="secondary" slot="start" (ionChange)="showDisponibilidad()"></ion-checkbox>
          <ion-label>Cualquier fecha de disponibilidad</ion-label>
        </ion-item>

      </form>
      <div>
        <ion-button expand="block" fill="outline" style="margin-bottom: 10px;" (click)="continue()"><ion-icon name="arrow-forward-outline"></ion-icon>Continuar</ion-button>
      </div>
    </div>
  </div>

</ion-content>
