.content{
    margin-left: 20px;
    margin-right: 20px;
    margin: 2%;
}

.divlogo{
    position: absolute; bottom: 55px; right: 16px;
}

.imglogo{
    float: right;
    max-width: 80%;
    max-height: 40px;
    margin: 5px auto;
    height: 40px;
}

[class*="col-"] {
    float: left;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}