<ion-header [translucent]="true" style="position: initial;">
  <div style="position: absolute;
  top: 20px;
  left: 25px;
  transform: translate(-50%, -50%);">
  <samp><ion-icon id="back" (click)="back()" name="arrow-back-circle" style="zoom:2.0;"></ion-icon></samp>
  </div>
</ion-header>

<ion-content>
  <div class="row" style="margin: 10px; margin-top: 35px;">
    <div class="col-6"><ion-icon name="location-outline"></ion-icon>{{lugar}}</div>
    <div class="col-3"><ion-icon name="home-outline"></ion-icon>{{type}}</div>
    <div class="col-3"><ion-icon name="calendar-outline"></ion-icon>{{date}}</div>
  </div>

  <ion-card style="border-radius: 20px;" *ngFor="let r of results">
    <ion-slides pager="true" [options]="slideOpts" >
    <ion-slide >
      <img src="http://192.168.1.113:3000/home/estebanmendiola/Pictures/roommatePhotos/test.jpg" alt="">
    </ion-slide>
    <ion-slide >
      <img src="http://192.168.12.172:3000/home/estebanmendiola/Pictures/roommatePhotos/test2.jpg" alt="">
    </ion-slide>
    <ion-slide >
      <img src="http://192.168.12.172:3000/home/estebanmendiola/Pictures/roommatePhotos/PHOTO_03641774193726666_4.jpeg" alt="">
    </ion-slide>
    <ion-slide >
      <img src="http://192.168.12.172:3000/home/estebanmendiola/Pictures/roommatePhotos/test2.jpg" alt="">
    </ion-slide>
    <ion-slide >
      <img src="http://192.168.12.172:3000/home/estebanmendiola/Pictures/roommatePhotos/PHOTO_03641774193726666_4.jpeg" alt="">
    </ion-slide>
  </ion-slides>

    <ion-card-header style="background-color: black;padding-bottom: 0px;">
      <div style="height: 100%; width: 97%; position: absolute; margin: -16px;">
        <img class="imglogo" src="../../../../../assets/logo_casa.png" alt="">
      </div>
      <ion-card-title style="margin: 0; bottom: 10px;"><p style=" width: 80%; margin: 0px; font-family: 'Montserrat', sans-serif; font-size: 16px; color: white; font-weight: bold; text-align: justify;">{{r.titulo}}</p></ion-card-title>
      <ion-card-subtitle style="margin: 0; bottom: 10px;"><p style=" width: 80%; margin: 0px; font-family: 'Montserrat', sans-serif; font-size: 12px; color: white; text-align: justify;">Precio ${{r.precio_renta}}</p></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
