<ion-content>
  <ion-list>
    <!-- Sliding item with icon start options on end side -->
    <ion-item-sliding *ngFor="let p of results">
      <ion-item>
        <ion-label>
          <h2>{{p.titulo}}</h2>
          <p>{{p.descripcion_espacio}}</p>
          <p>{{p.ciudad_estado}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="delete(p.id)">
          <ion-icon slot="start" ios="trash-outline" md="trash-outline"></ion-icon>
          Eliminar
        </ion-item-option>
        <ion-item-option color="secondary" (click)="edit(p.id)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option *ngIf="p.disponible" color="primary" (click)="ocupado(p.id,p.disponible)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Ocupado
        </ion-item-option>
        <ion-item-option *ngIf="!p.disponible" color="primary" (click)="ocupado(p.id,p.disponible)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Desocupar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-button expand="block" fill="outline" color="tertiary" (click)="newAnuncio()" >Registrar Nuevo Anuncio</ion-button>