<ion-header [translucent]="true" style="position: initial;">
  <div style=" width: fit-content; padding: 20px; display: flex;">
  <samp><ion-icon (click)="close()" id="close" name="arrow-back-sharp" style="zoom:2.0;"></ion-icon></samp>
  <ion-searchbar debounce="500" (ionChange)="getItems($event)" style="padding: 0px; --box-shadow:0;" searchIcon="none" placeholder="Buscar..." animated></ion-searchbar>
  <!--ion-list *ngIf="isItemAvailable">
    <ion-item *ngFor="let item of items">{{ item.ciudad }}</ion-item>
  </ion-list-->
</div>
</ion-header>

<ion-content>

  <div *ngIf="!isItemAvailable" class="main">
    <p id="txt-populares">Los Más Populares</p>
    <ion-card *ngFor="let c of citiesAmount.slice(0,3)" class="card" (click)="openSearch(c.ciudad)">
      <div class="container" style="background: black;">
        <img class="img" src="../../../../../assets/gto.svg" alt="">
        <div class="divlogo"><img class="imglogo" src="../../../../../assets/logo_casa.png" alt=""></div>
        <div class="bottom-right"> <span class="amount">{{c.amount}}</span> Resultados</div>
      </div>
      <ion-card-content class="card-content">
        <p class="txt-ciudad">{{c.ciudad}}</p>
        <p class="txt-estado">{{c.estado}}, MX</p>
      </ion-card-content>
    </ion-card>
  </div>



  <div *ngIf="isItemAvailable" class="main" >
    <ion-card *ngFor="let c of items" class="card" (click)="openSearch(c.ciudad)">
      <div class="container" style="background: black;">
        <img class="img" src="../../../../../assets/gto.svg" alt="">
        <div class="divlogo"><img class="imglogo" src="../../../../../assets/logo_casa.png" alt=""></div>
        <div class="bottom-right"> <span class="amount">{{c.amount}}</span> Resultados</div>
      </div>
      <ion-card-content class="card-content">
        <p class="txt-ciudad">{{c.ciudad}}</p>
        <p class="txt-estado">{{c.estado}}, MX</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
