/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 25px;
  right: 16px;
  font-weight: italic;
  font-family: 'Montserrat', sans-serif;
}

.main{
  width: 100%;
  height: 100%;
  padding: 30px;
  padding-top: 0px;
}

.card{
  border-radius: 30px;
}
.img{
  max-width: 60%; position: relative; right: 45px;
}
.divlogo{
  position: absolute; bottom: 55px; right: 16px;
}
.imglogo{
  width: 15%; float: right;
}
.amount{
  font-size: 20px; font-weight: bold; font-family: 'Montserrat', sans-serif;
}
.card-content{
  background: #df5158; margin-top: -4px; padding-top: 3px;padding-bottom: 5px;
}
.txt-ciudad{
  color: white; font-family:  'Montserrat', sans-serif; font-size: 15px; margin: 0px; font-weight: bold;
}
.txt-estado{
  color: white; font-family:  'Montserrat', sans-serif; font-size: 10px; margin: 0px;
}
.txt-populares{
  font-family: 'Montserrat', sans-serif; font-size: 15px; font-weight: bold;
}


ion-slides {
  height: 100%;
}