<ion-header>
  <ion-toolbar>
    <ion-title>place-photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="left" slot="fixed">
    <ion-fab-button (click)="photoService.openGallery()"color="tertiary">
      <ion-icon name="image-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="savePlace()"color="secondary">
      <ion-icon name="checkmark-done-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="width: 100%; height: 100%;padding: 30px; padding-top: 0px;">
    <div>
      <h3>Agregue fotografias de su inmueble</h3>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let photo of photoService.photos">
            <img [src]="photo.data" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-content>
