<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verificar Codigo</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content [fullscreen]="true">
  <div style="width: 100%; height: 100%;padding: 30px; padding-top: 0px;">
    <h3>Ingrese el codigo enviado al numero: {{dataToVerify.numero_cel}}</h3>
  </div>

  <form [formGroup]="codigo">
    <div style="box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
      border: 1px solid #21e5ff;
      width: 15%;
      max-width: 100px;
      height: 10%;
      max-height: 100px;
      position: absolute;
      left: 10%;
      top: 25%;
      border-radius: 12px;
      text-align: center;">
      <ion-input formControlName="d1" #Field1 (keyup)="gotoNextField(Field2)" type="tel" maxlength="1" style="height: 58px; --padding-start: 0px;"></ion-input>
    </div>

    <div style="box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
      border: 1px solid #21e5ff;
      width: 15%;
      max-width: 100px;
      height: 10%;
      max-height: 100px;
      position: absolute;
      left: 32%;
      top: 25%;
      border-radius: 12px;
      text-align: center;">
      <ion-input formControlName="d2" #Field2 (keyup)="gotoNextField(Field3)" type="tel" maxlength="1" style="height: 58px; --padding-start: 0px;"></ion-input>
    </div>

    <div style="box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
      border: 1px solid #21e5ff;
      width: 15%;
      max-width: 100px;
      height: 10%;
      max-height: 100px;
      position: absolute;
      left: 53%;
      top: 25%;
      border-radius: 12px;
      text-align: center;">
      <ion-input formControlName="d3" #Field3 (keyup)="gotoNextField(Field4)" type="tel" maxlength="1" style="height: 58px; --padding-start: 0px;"></ion-input>
    </div>

    <div style="box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
      border: 1px solid #21e5ff;
      width: 15%;
      max-width: 100px;
      height: 10%;
      max-height: 100px;
      position: absolute;
      left: 75%;
      top: 25%;
      border-radius: 12px;
      text-align: center;">
      <ion-input formControlName="d4" #Field4 (keyup)="finishFunction()" type="tel" maxlength="1" style="height: 58px; --padding-start: 0px;"></ion-input>
    </div>
  </form>



</ion-content>
