<ion-content fullscreen>
  <div *ngIf='rooms.length == 0'>
    <h4>No tienes mesages</h4>
    <h6>Cuando contactes a un anfitrion o envies
      una solicitud de alojamiento, podras ver tus mensajes aquí</h6>
  </div>

  <ion-list lines="none" *ngIf='rooms.length != 0'>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>

    <ion-item *ngFor="let h of rooms" [routerLink]="['/chat/' + h.chat_room.receptor.id]">
      <ion-avatar slot="start">
        <img src="http://192.168.1.113:3000{{h.chat_room.receptor.url_image}}" >
      </ion-avatar>
      <ion-label>
        <h2>{{h.chat_room.receptor.nombre}} {{h.chat_room.receptor.apellidos}}</h2>
        <h3>{{formatEpoch(h.messages[0].epoch)}}</h3>
        <p> {{h.messages[0].type === messageType.MSG_REQ ? 'Tú:' : h.chat_room.receptor.nombre+':'}} {{h.messages[0].message}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>