<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/current" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{receptor || ""}}</ion-title>
  </ion-toolbar>
 </ion-header>


<ion-content #content padding >
  <ion-list  lines="none">
    <ion-item *ngFor="let msg of messages">
      <app-chat-bubble class="chat" [chatMessage]="msg" ></app-chat-bubble>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="chatPageFooter" [keyboardAttach]="content" btnClicked="btnEmitter">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="margin:0px;"></ion-label>
      <div style="width:100%;">
        <app-elastic-textare #txtChat [placeholder]="'Envia un mensaje'" [lineHeight]="40" [maxExpand]="2"></app-elastic-textare>
      </div>
    </ion-item>
    <ion-buttons slot="end" style="margin-left:10px">
      <ion-button style="margin-top: 0px;"
              [disabled]="txtChat.content.trim().length<1"
              (click)="sendMessage()">
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
