.text-input {
    margin: 6px 10px !important;
    padding: 0;
    width: calc(100% - 80%) !important;
  }
  ion-textarea {
    border: 1px solid var(--input-border);
    border-radius: 18px;
    background-color: var(--input);
  }