<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

  <div style="width: 100%; height: 100%;padding: 30px; padding-top: 0px;">
    <div>
      <h3>Coloque un titulo llamativo</h3>
      <form [formGroup]="newPlace.controls.espacio">
        <ion-item>
          <ion-label position="floating">Titulo</ion-label>
          <ion-textarea formControlName="titulo" placeholder="Ejemplo: Habitación privada con espectacular vista de la ciudad"></ion-textarea>
        </ion-item>
        <h5>Escriba una descripción general.</h5>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea formControlName="descripcion_espacio" placeholder="Ejemplo: Cuarto amueblado, individual, independiente, con hermosa luz natural, en casa estilo provenzal francés. Derecho a cocina, lavadora, internet, no depósito, $3,200 al mes. Estacionamiento opcional. Calle tranquila"></ion-textarea>
        </ion-item>
      </form>
      <div>
        <ion-button expand="block" fill="outline" style="margin-bottom: 10px;" (click)="continue()"><ion-icon name="arrow-forward-outline"></ion-icon>Continuar</ion-button>
      </div>
    </div>
  </div>

</ion-content>
