<div class="main" id="main">
  <div id="inside">
    
      <ion-icon style="width: 19%;
      height: 100%;
      position: relative;" src="../../../assets/search-sharp.svg"></ion-icon>
    <p id="txt">
      Buca tu destino...
    </p>
  </div>

  <!--ion-grid>
    <ion-row>
      <ion-col>
          <div id="section" >
            <label for="uno" id="l1">
                <div id="aux">
                    <div id="ubicacion">
                        Ubicacíon
                    </div>
                    <input placeholder="Destino " id="uno" type="text" id="text_ubicacion">
                </div>
            </label>
          </div>
      </ion-col>
      <ion-col size="size-lg">
        <ion-fab-button color="primary" style="float: right; margin-top: -7px;"><ion-icon name="search-outline"></ion-icon></ion-fab-button>
    </ion-col>
    </ion-row>
  </ion-grid-->


</div>
