.main{
    border: 1px solid #DDDDDD !important;
    border-radius: 32px !important;
    color: #222222 !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    height: 60px !important;
    position: relative !important;
    width: auto !important;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1) !important;
    --big-search-form-background: #FFFFFF !important;
    background-color: #000000 !important;
}


.main #section:hover{
    background-color: #0037ff38;
    border-radius: 100px;
}

#l1{
    cursor: pointer !important;
    display: block !important;
    background-clip: padding-box !important;
    border: 1px solid transparent !important;
    border-radius: 32px !important;
    -webkit-flex: 1 0 0% !important;
    -ms-flex: 1 0 0% !important;
    flex: 1 0 0% !important;
    min-width: 0px !important;
    padding: 12px 32px !important;
    margin-top: -9px;
}

#aux{
    position: relative !important;
    z-index: 1 !important;
}

#ubicacion{
    font-weight: 800 !important;
    letter-spacing: 0.04em !important;
    font-size: 16px !important;
    line-height: 16px !important;
    padding-bottom: 2px !important;
    text-align: left;
}

#text_ubicacion{
    display: block !important;
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    background: none !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    color: #222222 !important;
    text-overflow: ellipsis !important;
}

#inside{
    border: 2px solid #14fd8a !important;
    border-radius: 50px;
    width: 85%;
    height: 73%;
    position: relative;
    margin: auto;
}

#txt{
    color: #14fd8a;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    left: 18%;
    position: absolute;
    margin: auto;
    top: 25%;
}