<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

  <div style="width: 100%; height: 100%;padding: 30px; padding-top: 0px;">
    <div>
      <h3>Seleciones las reglas de su imnueble</h3>
        <ion-list>
          <ion-item *ngFor="let s of reglas">
            <ion-label>{{s.regla}}</ion-label>
            <ion-checkbox slot="start" color="secondary" (click)="select(s)" [(ngModel)]="s.activo"></ion-checkbox>
          </ion-item>
        </ion-list>
      <div>
        <ion-button (click)="continue()" expand="block" fill="outline" style="margin-bottom: 10px;" ><ion-icon name="arrow-forward-outline"></ion-icon>Continuar</ion-button>
      </div>
    </div>
  </div>

</ion-content>
