<ion-header [translucent]="true" style="position: initial;">
  <div style="position: absolute;
  top: 4%;
  left: 6%;
  transform: translate(-50%, -50%);">
  <samp><ion-icon id="close" (click)="back()" name="arrow-back-outline" style="zoom:2.0;"></ion-icon></samp>
  </div>
</ion-header>


<ion-content>
  <ion-buttons float-end class="current-location">
    <button ion-button icon-only (click)="currentLocation()">
      <img src="../../../../assets/icon/current-location.png" alt="">
    </button>
  </ion-buttons>

  <ion-searchbar id="searchbar" autocorrect="off" autocapitalize="off" spellcheck="off" #searchbar placeholder="Search..." class="search-box"></ion-searchbar>

  <div #map id="map" class="map"></div>
  <div class="centerMarker"></div>
  <div>
    <ion-button (click)="continue()" expand="block" fill="outline" style="position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);"><ion-icon name="arrow-forward-outline"></ion-icon>Continuar</ion-button>
  </div>
</ion-content>