<ion-header [translucent]="true" style="position: initial;">
  <div style="position: absolute;
  top: 4%;
  left: 6%;
  transform: translate(-50%, -50%);">
  <samp><ion-icon id="back" (click)="back()" name="arrow-back-circle" style="zoom:2.0;"></ion-icon></samp>
  </div>
</ion-header>

<ion-content>
  <div>
    <ion-slides pager="true" [options]="slideOpts" >
      <ion-slide>
        <img src="http://192.168.1.113:3000//home/estebanmendiola/Pictures/roommatePhotos/PHOTO_6564614245120162_1.jpeg"/>
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/img/louis-charavner-flatspace2.jpg"/>
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/img/chill-duck-car-n7-1366x768.jpg"/>
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/img/castillo-en-el-cielo.jpg"/>
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/img/1959300.jpg" />
      </ion-slide>
    </ion-slides>
  </div>

  <div style="margin-left: 20px; margin-right: 20px;">
    <h2>{{dataEspacio?.titulo}}</h2>
    <p style="margin-top: 0px;">{{dataEspacio?.direccion.ciudad}}, {{dataEspacio?.direccion.estado}}</p>

    <hr class = "separator"/>

    <div>
      <div id = "rentadoby">
        <ion-avatar class="avatar">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </div>
      <h3 style="margin-bottom: 0px;">{{dataEspacio?.tipo_espacio.tipo}}</h3>
      <h6 style="margin-top: 6px;">Rentado por {{dataEspacio?.anfitrion.nombre}}</h6>
    </div>

    <hr class = "separator"/>

    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon size="large" name="document-lock-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Politica de Cancelación</h2>
          <p></p>
        </ion-label>
      </ion-item>

      <ion-item (click)="openDetails('Reglas del Lugar',dataEspacio?.reglas,'regla')">
        <ion-avatar slot="start">
          <ion-icon size="large" name="reader-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Reglas del Lugar</h2>
          <p>Aquí podras encontrar las reglas para una sana convivencia...</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <hr class = "separator"/>

    <h4>Descripción del Lugar</h4>
    <div id="descripcion">
      {{dataEspacio?.descripcion_espacio}}
    </div>
    <a (click)="openDetails('Descripción del Lugar',dataEspacio?.descripcion_espacio)"><samp>Mostrar más<ion-icon name="chevron-forward-outline"></ion-icon></samp></a>

    <hr class = "separator"/>

    <h4>Arreglos para Dormir</h4>
    <div style="width: 105px; height: 100px; border-radius: 20px; border: 2px solid #0000003b;">
      <div style="padding-left: 17px;
      padding-top: 15px;">
        <ion-icon name="bed-outline" size='large'></ion-icon>
      </div>
      <p class="beds">Cuartos 1</p>
      <p class="beds">Cama 1</p>
    </div>

    <hr class = "separator"/>

    <h4>Servicios</h4>

    <ion-list *ngFor="let s of dataEspacio?.servicios.slice(0,5)">
      <ion-item>
        <ion-label>{{s.servicio}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="block" fill="outline" color="tertiary" (click)="openDetails('Servicios',dataEspacio?.servicios,'servicio')">Mostrar {{moreServices}} más</ion-button>

    <hr class = "separator"/>

    <h4>Ubicación</h4>
    <div class="caja">
      <div class="box">
        <img src={{imgMap}} alt="">
      </div>
    </div>
    <p style="margin: 0px;font-size: 13px; margin-left: 5px;">La ubicación exacta se dará después de reservar.</p>
    <h6 style="margin: 5px;">{{dataEspacio?.direccion.ciudad}}, {{dataEspacio?.direccion.estado}}, {{dataEspacio?.direccion.pais}}</h6>
    <p style="margin-top: 2px; margin-left: 5px;">Desripcion de la ubicacion / zona</p>
    <ion-button expand="block" fill="outline" color="tertiary">Más Detalles</ion-button>

    <hr class = "separator"/>

    <div id = "rentadoby">
      <ion-avatar class="avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </div>
    <h4  style="margin-bottom: 4px;">A cerca del Arrendador</h4>
    <h5 style="margin: 1px;">{{dataEspacio?.anfitrion.nombre}} {{dataEspacio?.anfitrion.apellidos}}</h5>
    <span style="margin: 1px;" ion-text color="light"><ion-icon name="happy-outline"></ion-icon>Se unió en {{getDate(dataEspacio?.anfitrion.fecha_creacion)}}</span> <br>
    <span style="margin: 1px;" ion-text color="light"><ion-icon name="shield-checkmark-outline"></ion-icon> Identidad Verificada</span>
    <div id="descripcion" style="margin-top: 15px;">
      Descripcion Personal del anfitrion
    </div>
    <br>
    <!--ion-button expand="block" fill="outline" color="tertiary" (click)="contactHost(dataEspacio?.anfitrion)" >Contactar a {{dataEspacio?.anfitrion.nombre}}</ion-button-->

  </div>
</ion-content>
<ion-button expand="block" fill="outline" color="tertiary" (click)="contactHost(dataEspacio?.anfitrion)" >Contactar a {{dataEspacio?.anfitrion.nombre}}</ion-button>
<!--ion-button expand="block" color="success">Reservar</ion-button-->
