ion-slides {
    height: 100%;
    --bullet-background: red;
    --bullet-background-active: rebeccapurple;
  }

#rentadoby{
  position: absolute;
  right: 10%;
}

.avatar{
  width: 100% !important;
  height: 100% !important;
  max-width: 52px !important;
}

.separator{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(0 0 0 / 52%);
}

#back {
  color: white;
}

#descripcion{
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: 10px;
}

.beds{
  margin: 0px;
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 14px;
}
.caja{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: #333944;
  border-radius: 20px;
}
.box{
  width: 100%;
  height: 230px;
  background: #CCC;
  overflow: hidden;
  border-radius: 20px;
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
