<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
 </ion-header>


<ion-content [fullscreen]="true">
  <!--div style="width: 100%;">
    <ion-input style="width: 100%; height: 50px;" id="pac-input" class="controls" type="text" placeholder="Busca la ubicacion"> </ion-input>
    <div id="map"></div>
  </div!-->
  <div style="width: 100%; height: 100%;padding: 30px; padding-top: 0px;">
    <div>
      <h3>Ubicacion</h3>
      <p>¿En que ciudad se encuentra el sitio?</p>
      <form [formGroup]="newPlace.controls.direccion">
        <ion-item>
          <ion-label position="stacked">Estado</ion-label>
          <br>
          <ion-select [compareWith]="compareWith" placeholder="Seleccione la ciudad" interface="popover" (ionChange)="changeSelectedEstado($event)">
            <ion-select-option *ngFor="let e of estados" [value]="e">{{e.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Municipio/Delegación</ion-label>
          <br>
          <ion-select placeholder="Seleccione el municipio" formControlName="ciudad" interface="popover">
            <ion-select-option *ngFor="let c of ciudades" value={{c.nombre}}>{{c.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Colonia</ion-label>
          <br>
          <ion-input type="text" placeholder="Colonia" formControlName="colonia"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Calle</ion-label>
          <br>
          <ion-input type="text" placeholder="Calle" formControlName="calle"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Codigo Postal</ion-label>
          <br>
          <ion-input type="number" placeholder="Codigo Postal" formControlName="codigo_postal"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Numero Exterior</ion-label>
          <br>
          <ion-input type="number" placeholder="Num. Ext." formControlName="numero_ext"></ion-input>
        </ion-item>
        <ion-item>
          <ion-checkbox color="secondary" slot="start" (ionChange)="showNumInt()"></ion-checkbox>
          <ion-label>¿Tiene numero interior?</ion-label>
        </ion-item>
        <ion-item [hidden]=isHiddenNI>
          <ion-label position="stacked">Numero Interior</ion-label>
          <br>
          <ion-input type="number" placeholder="Num. Int." formControlName="numero_int"></ion-input>
        </ion-item>
      </form>
      <div>
        <ion-button expand="block" fill="outline" style="margin-bottom: 10px;" (click)="continue()"><ion-icon name="arrow-forward-outline"></ion-icon>Continuar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
