.header{
    box-shadow: 0px 0px 10px #999;
    min-height: 15%;
    max-height: 100%;
}
.avatar{
    position: sticky;
    left: 20px;
    top: 2%;
}
.usuario{
    position: absolute;
    top: 8px;
    left: 96px;
}
.perfil{
    position: absolute;
    top: 35px;
    left: 96px; color: #008eaf; font-size: 15px;
}