<ion-content [fullscreen]="false">
  <div class="header" [hidden]="!isLogin">
    <ion-avatar class="avatar">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <h3 class="usuario">{{usuario}}</h3>
    <p class="perfil">Ver perfil</p>
  </div>

  <!-- List of Text Items -->
<ion-list style="padding-right: 15px;">
  <ion-item button (click)="changeToUsuario()">
    <ion-label>Cambia a tu cuenta de Usuario</ion-label>
  </ion-item>
  <ion-item button>
    <ion-label>Acerca de Romeet</ion-label>
  </ion-item>
  <ion-item button>
    <ion-label>Ayuda</ion-label>
  </ion-item>

  <ion-item button [hidden]="!isLogin" (click)="logOut()">
    <ion-label>Salir</ion-label>
  </ion-item>
</ion-list>

</ion-content>
