<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Nuevo Usuario</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>
  <h1 style="margin-left: 5%;">Ingrese su Información</h1>


    <div style="width: 90%;
  height: 83%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);">
  <form [formGroup]="nuevoUsario">
    <ion-item id="nombre">
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text"  formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item id="apellidos">
      <ion-label position="stacked">Apellidos</ion-label>
      <ion-input type="text" formControlName="apellidos"></ion-input>
    </ion-item>
    <p>Asegúrese de que su nombre coincida con su INE</p>

    <ion-item class="input" style="top: 0%;">
      <ion-label position="stacked">Fecha de Nacimiento</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" formControlName="fecha_nacimieto"></ion-datetime>
    </ion-item>

    <ion-item class="input" style="top: 1%;">
      <ion-label position="stacked">Correo Electronico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="input" style="top: 2%;">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
  </form>
    <ion-button (click)="register()" style="margin-top: 10%;" shape="round" expand="full">Continuar</ion-button>

  </div>

</ion-content>
