
#nombre{
    border-radius: 14px 14px 0 0;
    &:hover{
        border-radius: 14px;
        border: solid;
    }
}

#apellidos{
    border-radius: 0 0 14px 14px;
    &:hover{
        border-radius: 14px;
        border: solid;
    }
}

.input{
    border-radius: 14px;
    &:hover{
        border-radius: 14px;
        border: solid;
    }
}