.header{
    width: 100%; height: 25vh;
    background-color: #14fd8a;
    border-radius: 0 0 32px 32px;
    border-bottom-style: solid;
    border-bottom-color: #5b3ad5;
}

.back{
    width: fit-content;
    padding: 20px;
    display: flex;
}

.txt-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align-last: center;
    position: relative;
    color: white;
    top: 5vh;
}

.input{
    border-radius: 14px;
    &:hover{
        border-radius: 14px;
        border: solid;
    }
}