<ion-header [translucent]="true" style="position: initial;">
  <div class="header">
  <div class="back">
    <samp><ion-icon (click)="close()" id="close" name="arrow-back-sharp" style="zoom:2.0;"></ion-icon></samp>
  </div>
  <p class="txt-header">¿Fecha de disponibilidad?</p>

  </div>
</ion-header>

<ion-content>
  <div style="padding: 30px;
  padding-top: 0px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1) !important;
  margin: 20px;">
    <ion-item style="margin-top: 10px;">
      <ion-checkbox color="secondary" slot="start" (ionChange)="showNumInt()"></ion-checkbox>
      <ion-label style="font-family: 'Montserrat', sans-serif;">Cualquier fecha</ion-label>
    </ion-item>
  
    <ion-item style="margin-top: 10px;" *ngIf="isHiddenNI" class="input">
      <ion-label position="stacked">Fecha de Disponibilidad</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="date"></ion-datetime>
    </ion-item>
  </div>

  <div style="padding: 30px;
  padding-top: 0px;
  margin: 20px;">
  <ion-button (click)="search()" expand="full" shape="round">
    <ion-icon  slot="start" name="search"></ion-icon>
    Buscar
  </ion-button>
  </div>
</ion-content>
