<ion-header [translucent]="true" style="position: initial;">
  <div class="header">
  <div class="back">
    <samp><ion-icon (click)="close()" id="close" name="arrow-back-sharp" style="zoom:2.0;"></ion-icon></samp>
  </div>
  <p class="txt-header">¿Qué estas buscando?</p>

  </div>
</ion-header>

<ion-content>
  <p class="txt-place">{{place}}</p>
  <div class="content" (click)="openSearch(place,'1')">
    <div class="img-type">
      <img class="img" src="../../../../../assets/habitacion.png" alt="">
    </div>
    <p class="txt-type">Cuartos</p>
    <p class="txt-desc"> Descripción</p>
  </div>

  <div class="content" (click)="openSearch(place,'2')">
    <div class="img-type">
      <img class="img" src="../../../../../assets/casas.png" alt="">
    </div>
    <p class="txt-type">Casas</p>
    <p class="txt-desc"> Descripción </p>
  </div>

  <div class="content" (click)="openSearch(place,'3')">
    <div class="img-type">
      <img class="img" src="../../../../../assets/depa.png" alt="">
    </div>
    <p class="txt-type">Departamentos</p>
    <p class="txt-desc"> Descripción </p>
  </div>

  <div class="content" (click)="openSearch(place,'null')">
    <div class="img-type">
      <img class="img" src="../../../../../assets/any.png" alt="">
    </div>
    <p class="txt-type">Cualquier Tipo</p>
    <p class="txt-desc"> Descripción </p>
  </div>

</ion-content>
