.header{
    width: 100%; height: 25vh;
    background-color: #14fd8a;
    border-radius: 0 0 32px 32px;
    border-bottom-style: solid;
    border-bottom-color: #5b3ad5;
}

.back{
    width: fit-content;
    padding: 20px;
    display: flex;
}

.txt-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align-last: center;
    position: relative;
    color: white;
    top: 5vh;
}

.content{
    height: 10vh;
    border-radius: 15px;
    padding: 30px;
    padding-top: 0px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1) !important;
    margin: 20px;
}

.txt-type{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 2vh;
}

.txt-desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: relative;
}

.img-type{
    height: 10vh;
    position: absolute;
    width: 16vh;
    /* left: 62vh; */
    right: 3vh;
    text-align-last: center;
}

.img{
    position: relative;
    max-height: 100%;
}

.txt-place{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}