<ion-header [translucent]="true" style="position: initial;">
  <div style="
  width: fit-content;
  padding: 20px;">
  <samp><ion-icon (click)="close()" id="close" name="close" style="zoom:2.0;"></ion-icon></samp>
  </div>
</ion-header>

<ion-content>
  <div style="width: 100%; height: 100%;padding: 30px; padding-top: 0px;">
    <h2>{{title}}</h2>
    <div *ngIf="data_type=='object'">
      <ion-list *ngFor="let s of data">
        <ion-item>
          <ion-label>{{s[data_identifier]}}</ion-label>
        </ion-item>
      </ion-list>
      <h4>{{aditional_info}}</h4>
    </div>
    <div *ngIf="data_type=='string'">
      <p>{{data}}</p>
    </div>
  </div>

</ion-content>
