ion-slides {
  --bullet-background: red;
  --bullet-background-active: rebeccapurple;
}

#descripcion {
  display: -webkit-box;
  max-width: 100%;
  height: 42px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: 18px;
}

.swiper-slide img {
  width: 100%;
    /* max-width: 100%; */
    /* height: 196px; */
    max-height: 200px;
    object-fit: cover;
}
