<ion-header [translucent]="true" style="position: initial;">
      <ion-grid (click)="openSearch()">
        <ion-row>
          <ion-col>
            <div>
              <app-search-bar></app-search-bar>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card *ngFor="let e of espacios" style="border-radius: 20px;" [routerLink]="['/full-description/' + e.id]" >
    <ion-slides pager="true" [options]="slideOpts" >
    <ion-slide *ngFor="let i of e.url_multimedia">
      <img src="http://192.168.1.113:3000{{i}}"/>
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/wp4792934.jpg"/>
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/louis-charavner-flatspace2.jpg"/>
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/chill-duck-car-n7-1366x768.jpg"/>
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/castillo-en-el-cielo.jpg"/>
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/1959300.jpg" />
    </ion-slide>
  </ion-slides>

    <ion-card-header>
      <ion-card-subtitle>{{e.ciudad_estado}}</ion-card-subtitle>
      <ion-card-title>{{e.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id = 'descripcion'>
        {{e.descripcion_espacio}}
      </div>
      <div class="padding-sm primary-bg">
        <ion-grid style="padding:0px">
            <ion-row>
              <ion-col style="padding:0px">
                  <span ion-text class="text-white"><ion-icon name="cash-outline"></ion-icon>{{e.precio_renta}}</span>
              </ion-col>
              <ion-col style="padding:0px">
                  <span style="padding-left: 45%;" ion-text color="light"><ion-icon name="people-outline"></ion-icon><strong>{{e.cantidad_personas}}</strong></span>
              </ion-col>
              <ion-col style="padding:0px">
                  <span style="padding-left: 70%;" ion-text color="light"><ion-icon name="shield-checkmark-outline"></ion-icon></span>
            </ion-col>
            </ion-row>
          </ion-grid>
    </div>
</ion-card-content>
  </ion-card>


</ion-content>
