<ion-header [translucent]="true" style="position: initial;">
  <div style="
  width: fit-content;
  padding: 20px;">
  <samp><ion-icon (click)="close()" id="close" name="close" style="zoom:2.0;"></ion-icon></samp>
  </div>
</ion-header>

<ion-content [fullscreen]="true">



  <div style="width: 100%; height: 100%;padding: 30px; padding-top: 0px;">
    <h2>{{textBanner}}</h2>
    <form [formGroup]="numberPhone">
      <ion-item>
        <ion-label position="stacked">Numero de Telefono</ion-label>
        <br>
        <ion-select placeholder="Mexico (+52)" formControlName="lada_int" interface="popover">
          <ion-select-option value="+52">Mexico (+52)</ion-select-option>
        </ion-select>
        <ion-input type="tel" formControlName="numero_cel" placeholder="Numero de 10 digitos"></ion-input>
      </ion-item>
   </form>
   <br>
   <ion-button [disabled]="!numberPhone.valid" expand="block" (click)="logIn()">{{textButtonMode}}</ion-button>

   <!--ion-grid>
    <ion-row>
      <ion-col style="border-bottom: 1px solid black;">
      </ion-col>
      <ion-col style="display: contents;">
        <div><p style="margin-bottom: -100%;
          margin-top: 0px;
          margin-left: 10px;
          margin-right: 10px;">O</p></div>
    </ion-col>
    <ion-col style="border-bottom: 1px solid black;">
  </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <div>
    <ion-button [hidden]="!login" expand="block" fill="outline" style="margin-bottom: 10px;"><ion-icon name="mail-outline"></ion-icon>Continuar con Correo</ion-button>
    <ion-button expand="block" fill="outline" style="margin-bottom: 10px;"><ion-icon name="logo-facebook"></ion-icon>Continuar con Facebook</ion-button>
    <ion-button expand="block" fill="outline" style="margin-bottom: 10px;"><ion-icon name="logo-google"></ion-icon>Continuar con Gmail</ion-button>
  </div-->

  <br>
  <div>
    <span>{{textChangeMode}}<a (click)="changeMode()"> {{ textLinkChangeMode}}</a></span>
  </div>
  

</div>

</ion-content>
